<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vssnake.utils" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.vssnake.utils.ActivitySpinnerSelection"
            android:label="@string/title_activity_activity_spinner_selection"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>
